@import "bootstrap";

  .user-info {
    margin-top: 9px;
  }

  .nav {
    margin-top: 5px;
  }

  #post_title {
    width: 300px;
  }


  #post_body { 
    height: 200px; 
    width: 300px;
    }

  .vote-arrows {
    width: 40px;
    text-align: center;
  }

  .favorite {
    margin_top: 20px;
  }

  .voted {
    opacity: 0.5;
  }