<% if policy(Vote.new).create? %>
	<div class="vote-arrows pull-left">
	<div if vote = current_user.vote(post) %>
		<%= link_to [post, Vote.new], post_up_vote_path(post), class: 'btn btn-primary', method: :up_vote do %>
			<i class = "glyphicon glyphicon-chevron-up #{(current_user.voted(post) && current_user.voted(post).up_vote?) ? 'voted' : '' }" ></i>&nbsp; Upvote
			<strong><%= post.points %></strong>
		<% end %>
	
	<% else %>
		<%= link_to [post, vote], post_down_vote_path(post), class: 'btn btn-danger', method: :down_vote do %> <i class = "glyphicon glyphicon-chevron-down #{(current_user.voted(post) && current_user.voted(post).down_vote?) ? 'voted' : '' }"></i>;nbsp; Downvote
	<% end %>
	</div>
<% end %>


